@import '--size--m/work-group__description--size--m.scss';
@import '--size--s/work-group__description--size--s.scss';
.work-group__description {
    width: 1224px;
    height: 89px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-left: 12px;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.05);
}