@import '--size--m/work-detail__label--size--m.scss';
@import '--size--s/work-detail__label--size--m.scss';
.work-detail__label {
    margin-left: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* identical to box height */
    /* dark */
    color: #182C40;
}