@import '--size--m/input__promt--size--m.scss';
@import '--size--s/input__promt--size--s.scss';
.input__promt {
    height: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: black;
    margin-bottom: 4px;
    margin-left: 12px;
}