@import "__promt/work-group__promt.scss";
@import "__description/work-group__description.scss";
.work-group {
    width: 1240px;
    height: 122px;
    background: #F8F7FA;
    border-radius: 2px;
    margin-top: -17px;
}