@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.header__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px; }

.header__description {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  width: 1228px; }

.header__line {
  color: #F19932;
  margin-left: -20px;
  margin-right: 7px;
  font-weight: 700; }

.header {
  margin: 80px 100px 32px 100px;
  font-family: 'Ubuntu', sans-serif;
  width: 1440px; }

.main__title {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px; }

.input__promt {
  height: 13px;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: black;
  margin-bottom: 4px;
  margin-left: 12px; }

.input__field {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: transparent;
  color: inherit;
  outline: none;
  padding: 0;
  width: 384px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  padding-left: 8px;
  margin-left: 4px; }

.input--error {
  border: solid 2px #F5BCBC; }

.input--correct {
  border: solid 2px #2F80ED; }

.input__error-promt {
  display: none;
  margin-top: 5px;
  margin-left: -2px;
  padding-left: 12px;
  background-color: #F5BCBC;
  color: #800404;
  border: solid 2px #F5BCBC;
  width: 388px;
  border-radius: 2px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px; }

.input {
  padding-top: 8px;
  width: 400px;
  height: 50px;
  background: #F8F7FA;
  border-radius: 2px;
  margin: 0 20px 37px 0;
  cursor: pointer; }
  .input:hover {
    background-color: #F1F5F9; }

.input-area {
  display: flex;
  flex-wrap: wrap; }

.work-group__promt {
  width: 311px;
  height: 13px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  padding-top: 8px;
  margin-left: 12px;
  padding-bottom: 4px;
  color: rgba(0, 0, 0, 0.5); }

.work-group__description {
  width: 1224px;
  height: 89px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-left: 12px;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.05); }

.work-group {
  width: 1240px;
  height: 122px;
  background: #F8F7FA;
  border-radius: 2px;
  margin-top: -17px; }

.work-detail__flag {
  width: 18px;
  height: 18px;
  background: #3C8AFB;
  cursor: pointer; }

.work-detail__promt {
  margin-top: 20px;
  background: #F8F7FA;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  width: 1228px;
  padding-top: 8px;
  padding-bottom: 4px;
  padding-left: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #000000; }

.work-detail__input {
  width: 1226px;
  height: 89px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  background: #F8F7FA;
  border: 0;
  outline: none;
  padding-left: 12px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  resize: none; }
  .work-detail__input:focus {
    background-color: #c7c7c7; }

.work-detail__checkbox {
  display: flex;
  align-items: center;
  cursor: pointer; }
  .work-detail__checkbox:hover {
    background: rgba(47, 128, 237, 0.05);
    width: 370px;
    margin-left: 0; }

.work-detail__label {
  margin-left: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* identical to box height */
  /* dark */
  color: #182C40; }

.buttons__cancel {
  margin-left: 20px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  width: 92px;
  height: 45px;
  background: #E9E9E9;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none; }
  .buttons__cancel:hover {
    cursor: pointer;
    background: #DBDBDB; }
  .buttons__cancel:focus {
    border: 2px solid #DBDBDB;
    background: #E9E9E9; }
  .buttons__cancel:active {
    background: #C4C4C4; }

.buttons__save {
  margin-left: 681px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  width: 231px;
  height: 45px;
  background: #E9E9E9;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer; }
  .buttons__save:hover {
    background: #DBDBDB; }
  .buttons__save:focus {
    border: 2px solid #DBDBDB;
    background: #E9E9E9; }
  .buttons__save:active {
    background: #C4C4C4; }

.buttons__send {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  width: 216px;
  height: 45px;
  background: #2F80ED;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer; }
  .buttons__send:hover {
    background: #2974D9; }
  .buttons__send:focus {
    border: 2px solid #2F80ED 50%; }
  .buttons__send:active {
    background: #236ACB; }

.buttons--disabled {
  pointer-events: none;
  opacity: 0.4; }

.buttons {
  margin-top: 32px;
  display: flex; }

.work-detail {
  margin-top: 20px; }

.alert__title {
  width: 69px;
  height: 15px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  margin-left: 100px;
  margin-bottom: 12px;
  color: #333333; }

.alert__description {
  width: 314px;
  height: 23px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 11px;
  margin-left: 100px;
  color: #333333; }

.alert__img {
  width: 19.06px;
  height: 17.01px;
  margin-left: 20px;
  background-image: url("/src/Vector.png"); }

.alert {
  width: 473px;
  height: 90px;
  background: rgba(251, 217, 44, 0.16);
  border-radius: 0px 4px 4px 0px;
  margin-left: -100px;
  margin-bottom: 20px;
  display: none;
  align-items: center;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeInDown; }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px); }
  100% {
    opacity: 1;
    transform: none; } }

.complete-alert {
  width: 473px;
  height: 90px;
  background: #b0fc72;
  border-radius: 0px 4px 4px 0px;
  margin-left: -100px;
  margin-bottom: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeInDown; }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px); }
  100% {
    opacity: 1;
    transform: none; } }

.main {
  margin: 0 100px 130px 100px;
  font-family: 'Ubuntu', sans-serif;
  width: 1440px; }

body {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=common-blocks.css.map */
