@import '--size--m/work-detail__flag--size--m.scss';
@import '--size--s/work-detail__flag--size--s.scss';
.work-detail__flag {
    width: 18px;
    height: 18px;
    background: #3C8AFB;
    cursor: pointer;
}