@import '--size--m/header__title--size--m.scss';
@import '--size--s/header__title--size--s.scss';
.header__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
}