@import '--size--m/alert__title--size--m.scss';
@import '--size--s/alert__title--size--s.scss';
.alert__title {
    width: 69px;
    height: 15px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    margin-left: 100px;
    margin-bottom: 12px;
    color: #333333;
}