@import "__promt/input__promt.scss";
@import "__field/input__field.scss";
@import "--error/input--error.scss";
@import "--correct/input--correct.scss";
@import "__error-promt/input__error-promt.scss";
.input {
    padding-top: 8px;
    width: 400px;
    height: 50px;
    background: #F8F7FA;
    border-radius: 2px;
    margin: 0 20px 37px 0;
    cursor: pointer;
    &:hover {
        background-color: #F1F5F9;
    }
}