@import '--size--m/header__description--size--m.scss';
@import '--size--s/header__description--size--s.scss';
.header__description {
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    width: 1228px;
}