.alert__description {
    width: 314px;
    height: 23px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    margin-left: 100px;
    color: #333333;
}